body {
  background: #9ead89;
  font-size: 28x;
}
/* Nav Bar Style
*/
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  top: 0;
  width 100%;
  left: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  border-right: 1px solid # bbb;
}

.navbar a:hover {
  background-color: #808080;
  color: black;
}
