body {
  background: #9ead89;
  font-size: 28x;
}
/* Nav Bar Style
*/
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f2f0cb;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a: {
  display: block;
  color: white;
  text-align: center;
  padding: 14x 16x;
  text-decoration: none;
}

li a:hover {
  background-color: #CFB997
}
