body {
  background: #9ead89;
  font-size: 28x;
}
/* Nav Bar Style
*/
  ul {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14x 16x;
    text-decoartion: none;
    font-size: 17px;
}

li {
  border: 1px solid #bbb;
  float: left;
  border-right: 1px solid #bbb;

}

li a: {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f2f0cb;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0
}

li a:hover {
  background-color: #CFB997
}
